.ticket-search-bar {
 min-height: 3.5rem;
}

.ticket-assign-modal {
    width: 29rem;
    height: 34.5rem;
}

.ticket-assign-modal-button {
    margin-top: 17.75rem;
}

.ticket-form-modal {
    width: 24.75rem;
}
