.text {
  font-size: 18px;
  font-family: sans-serif;
}

.text.label {
  font-size: 18px;
  color: #808080;
}

.text.subheading {
  font-size: 22px;
  font-weight: bold;
}

.text.heading {
  font-size: 26px;
  font-weight: bold;
}
