.internal-contact-chat-icon {
  background-color: var(--internal-contact-item-chat-background);
}

.internal-contact-call-icon {
  background-color: var(--internal-contact-item-call-background);
}
.internal-contact-fw-icon {
  background-color: var(--internal-contact-item-fw-background);
}

