.notes-container {
    height: 19.05rem;
}
.notes-send{
    fill: var(--light-text-medium-emphasis);
}
.add-note-section{
    height: 5.375rem;
}
.note-detail-created-by {
    color: var(--note-context-created-by-color);
}