.login {
  .logo-section {
    background-color: var(--color-primary-default);
    max-width: 39.5rem;
  }
  
  .content-section {
    max-width: 31rem;
  }
  .logo {
    width: 216px;
    height: 75.5px;
  }
}
