.details-label {
    color: var(--light-text-medium-062);
}

.sms-template-title {
    color: var(--light-text-medium-062);
}
.sms-template-select-var {
    max-width: 8rem;
    margin-bottom: -0.5rem;
}
