.collapsible-button {
  border: 1px solid var(--rounded-border-color);
}
.attachments-label {
  color: var(--color-primary-800);
}
.activity-box{
  width: 15.5rem;
  background-color: var(--feed-detail-item-activity-box);
}
.activity-icon-wrapper{
  background-color: var(--color-primary-400);
}
