.ticket-detail-header-id {
  color: var(--light-text-medium-emphasis);
}

.ticket-detail-header-wrapper {
  min-height: 4rem;
}

.header-active-item-call-icon {
  fill: var(--color-primary-default);
}

.channel-call-icon-stroke {
  stroke: var(--color-primary-default);
}

.block-user-modal {
  width: 29.125rem;
}

.header-spam-icon {
  fill: var(--header-active-item-icon);
}
