.ticket-configurations{
  width: calc(100% - 16.5rem);
}

.ticket-configurations-header{
  padding-bottom: 1.625rem;
}

.ticket-configurations-table-header{
  margin-left: 1.063rem;
  margin-bottom: 0.625rem;
}

.ticket-configurations-modal-width {
  width: 29rem;
}

.ticket-configurations-modal-title {
  padding-top: 1.625rem;
}