.external-access-layout-header {
  background-color: var(--color-primary-300);
}

.external-access-layout-footer {
  background-color: var(--color-secondary-default);
  & > div {
    color: var(--color-white-06);
  }
}
