.external-access-layout-header {
  background-color: var(--color-primary-300);
  min-height: 5rem;
}

.external-access-layout-footer {
  min-height: 4rem;
  background-color: var(--color-secondary-default);
  & > div {
    color: var(--color-white-06);
  }
}

.padding-top > :not(.without-default-padding) {
  padding-top: 4rem;
}
