.agent-live-call-icon-background {
  background-color: var(--wallboard-agent-table-item-call-background);
}

.agent-live-chat-icon-background {
  background-color: var(--wallboard-agent-table-item-chat-background);
}

.agent-live-text-background {
  background-color: var(--wallboard-agent-table-item-background);
  width: 8.5rem;
}
