.realtime-status-summary-call-icon-background {
  background-color: var(--wallboard-realtime-status-summary-call-background);
  height: 8.5rem;
}

.realtime-status-summary-chat-icon-background {
  background-color: var(--wallboard-realtime-status-summary-chat-background);
  height: 8.5rem;
}
