.search-icon-fill {
    fill: var(--search-input-field-icon-color);
}
.search-input-field {
    border-bottom: 1px solid var(--light-divider-7);
}
.clear-input-icon-fill {
    fill: var(--light-text-medium-emphasis);
}