.search-icon-fill {
  fill: var(--search-input-field-icon-color);
}
.clear-input-icon-fill {
  fill: var(--light-text-medium-emphasis);
}

.search-input-field:focus::placeholder {
  color: transparent;
}

.search-input-field {
  .options {
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--color-white);
    z-index: 999;
    box-shadow: var(--select-box-shadow);
    min-width: 12rem;
    border-radius: 0.188rem;
    overflow-y: auto;
    max-height: 29rem;
  }
  .options-visible {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}
