.fill-yellow {
  fill: var(--color-yellow);
}

.fill-green {
  fill: var(--color-primary-300);
}

.fill-red {
  fill: var(--color-red);
}

.fill-gray {
  fill: var(--color-secondary-400);
}

.fill-blue {
  fill: var(--color-light-blue);
}
