.warning-message {
  background-color: var(--color-white);
  border-color: var(--color-primary-300);
}
.appointment-type {
  font-family: var(--font-regular);
  line-height: 2.5rem;
}
.appointment-list-header {
  background-color: var(--color-secondary-100);
}
