.dropdown-cell {
  min-height: 2.5rem;
  min-width: 12rem;
  background-position: center;
  transition: background 0.8s;
}

.dropdown-cell.is-selected {
  background-color: var(--color-primary-500);
  color: var(--color-white);
}

.dropdown-cell:hover {
  background: var(--dropdown-item-hover) radial-gradient(circle, var(--dropdown-item-pressed)1%, var(--dropdown-item-hover)1%) center/15000%;
}

.dropdown-cell:active {
  background-color: var(--dropdown-item-pressed);
  background-size: 100%;
  transition: background 0s;
}

.dropdown-cell.is-selected:hover {
  background-color: var(--color-primary-700);
  color: var(--color-white);
}
.dropdown-cell-icon {
  min-width: 1rem;
  min-height: 1rem;
}

.dropdown-cell-disabled {
  background-color: var(--color-secondary-100);
}
