textarea:disabled {
  background-color: var(--text-area-disabled-color);
}
.textarea-wrapper {
  background-color: var(--text-area-disabled-color);
}

.textarea-wrapper-focus:focus-within {
  border-bottom: solid 1px #00cc88;
}
