textarea:disabled {
  background-color: var(--color-white);
  opacity: var(--text-area-disabled-opacity);
}
.textarea-wrapper {
  background-color: var(--color-white);
  opacity: var(--text-area-disabled-opacity);
}

.textarea-wrapper-focus:focus-within {
  border-bottom: solid 1px #00cc88;
}
