.tag-input {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 2.366rem;
  overflow-y: auto;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  * {
    box-sizing: border-box;
  }
  > * {
    margin: 0.187rem;
  }

  &__tag {
    background: var(--light-divider-7);
    border-radius: 1rem;
  }
  &__tag-content {
    outline: 0;
    white-space: nowrap;
  }

  &-label {
    color: var(--color-primary-800);
  }
}
