.snackbar-position {
  &-top-right {
    top: 2.2rem;
    right: 0.75rem;
    transition: transform .6s ease-in-out;
    animation: toast-in-right .7s;
  }

  &-top-center {
    top: 2.2rem;
    @media (min-width:768px) {
      align-self: center;
    }
    transition: transform .6s ease-in-out;
    animation: toast-in-top .7s;
  }

  &-bottom-right {
    bottom: 2.2rem;
    right: 0.75rem;
    animation: toast-in-right .7s;
  }

  &-top-left {
    top: 2.2rem;
    left: 0.75rem;
    animation: toast-in-left .7s;
  }

  &-bottom-left {
    bottom: 2.2rem;
    left: 0.75rem;
    animation: toast-in-left .7s;
  }
}

@keyframes toast-in-right {
  from {
    transform: translateX(100%);

  }
  to {
    transform: translateX(0);
  }
}

@keyframes toast-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}


@keyframes toast-in-top {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

