.dark {
    --color-bg-primary: #444444;
    --color-text-primary: #61dafb;
    --color-text-secondary: #fff;

    --font-regular: 'RobotoRegular';
    --font-medium: 'RobotoMedium';
    --font-bold: 'RobotoBold';
}
