.default {
  --color-primary-default: #00cc88;
  --color-primary-900: #00ad58;
  --color-primary-800: #00b96b;
  --color-primary-700: #00c075;
  --color-primary-600: #00c780;
  --color-primary-500: #00cc88;
  --color-primary-400: #0bd994;
  --color-primary-300: #17e69d;
  --color-primary-200: #61f2b8;
  --color-primary-100: #e0f5eb;
  --color-primary-50: #f5fcf8;

  --color-secondary-default: #212121;
  --color-secondary-900: #212121;
  --color-secondary-800: #424242;
  --color-secondary-700: #616161;
  --color-secondary-600: #7f7f7f;
  --color-secondary-500: #9e9e9e;
  --color-secondary-400: #bdbdbd;
  --color-secondary-300: #e0e0e0;
  --color-secondary-200: #eeeeee;
  --color-secondary-100: #f5f5f5;
  --color-secondary-50: #fafafa;

  //RGB Color
  --color-primary-500-rgb: 0, 204, 136;

  --color-white: #ffffff;
  --color-gray50: #fafafa;
  --color-red: #f86854;
  --color-yellow: #fdc06a;
  --color-gray: #bdbdbd;
  --color-blue: #006eff;

  //Chart colors:
  --chart-color-1: #00cc88;
  --chart-color-2: #2d9ffb;
  --chart-color-3: #734dea;
  --chart-color-4: #fdbc45;
  --chart-color-5: #f5935e;
  --chart-color-6: #f4516c;
  --chart-color-7: #bdbdbd;
  --chart-color-8: #0047cc;
  --chart-color-9: #006c3a;
  --chart-color-10: #3e1c9f;
  --chart-color-11: #cc0c1f;

  --color-bg-primary: #fff;
  --color-text-primary: --color-secondary-900;
  --light-text-high-emphasis: rgba(0, 0, 0, 0.87);
  --light-text-medium-emphasis: rgba(0, 0, 0, 0.5);
  --light-text-disabled: rgba(0, 0, 0, 0.38);
  --light-divider-12: rgba(0, 0, 0, 0.12);
  --light-divider-7: rgba(0, 0, 0, 0.07);
  --font-light: "PoppinsLight";
  --font-regular: "PoppinsRegular";
  --font-medium: "PoppinsMedium";

  --h1-font-family: var(--font-light);
  --h1-font-size: 4rem;
  --h1-font-weight: 300;
  --h1-font-stretch: normal;
  --h1-font-style: normal;
  --h1-line-height: 4.5rem;
  --h1-letter-spacing: normal;
  --h1-color: var(--light-text-high-emphasis);

  --h2-font-family: var(--font-light);
  --h2-font-size: 3rem;
  --h2-font-weight: 300;
  --h2-font-stretch: normal;
  --h2-font-style: normal;
  --h2-line-height: 4rem;
  --h2-letter-spacing: normal;
  --h2-color: var(--light-text-high-emphasis);

  --h3-font-family: var(--font-medium);
  --h3-font-size: 2.5rem;
  --h3-font-weight: 500;
  --h3-font-stretch: normal;
  --h3-font-style: normal;
  --h3-line-height: 3rem;
  --h3-letter-spacing: normal;
  --h3-color: var(--light-text-high-emphasis);

  --h4-font-family: var(--font-light);
  --h4-font-size: 2.125rem;
  --h4-font-weight: 300;
  --h4-font-stretch: normal;
  --h4-font-style: normal;
  --h4-line-height: 2.5rem;
  --h4-letter-spacing: normal;
  --h4-color: var(--light-text-high-emphasis);

  --h5-font-family: var(--font-medium);
  --h5-font-size: 1.5rem;
  --h5-font-weight: 500;
  --h5-font-stretch: normal;
  --h5-font-style: normal;
  --h5-line-height: 2rem;
  --h5-letter-spacing: normal;
  --h5-color: var(--light-text-high-emphasis);

  --h5-regular-font-family: var(--font-regular);
  --h5-regular-font-size: 1.5rem;
  --h5-regular-font-weight: 500;
  --h5-regular-font-stretch: normal;
  --h5-regular-font-style: normal;
  --h5-regular-line-height: 2rem;
  --h5-regular-letter-spacing: normal;
  --h5-regular-color: var(--light-text-high-emphasis);

  --h6-font-family: var(--font-medium);
  --h6-font-size: 1.25rem;
  --h6-font-weight: 500;
  --h6-font-stretch: normal;
  --h6-font-style: normal;
  --h6-line-height: 1.5rem;
  --h6-letter-spacing: normal;
  --h6-color: var(--light-text-high-emphasis);

  --h7-font-family: var(--font-medium);
  --h7-font-size: 1.125rem;
  --h7-font-weight: 500;
  --h7-font-stretch: normal;
  --h7-font-style: normal;
  --h7-line-height: 1.5rem;
  --h7-letter-spacing: normal;
  --h7-color: var(--light-text-high-emphasis);

  --h8-font-family: var(--font-medium);
  --h8-font-size: 0.875rem;
  --h8-font-weight: 500;
  --h8-font-stretch: normal;
  --h8-font-style: normal;
  --h8-line-height: 1.5rem;
  --h8-letter-spacing: 0.42px;
  --h8-color: var(--color-primary-900);

  --subtitle-font-family: var(--font-medium);
  --subtitle-font-size: 1rem;
  --subtitle-font-weight: 500;
  --subtitle-font-stretch: normal;
  --subtitle-font-style: normal;
  --subtitle-line-height: 1.5rem;
  --subtitle-letter-spacing: normal;
  --subtitle-color: var(--light-text-high-emphasis);

  --subtitle2-font-family: var(--font-medium);
  --subtitle2-font-size: 0.875rem;
  --subtitle2-font-weight: 500;
  --subtitle2-font-stretch: normal;
  --subtitle2-font-style: normal;
  --subtitle2-line-height: 1.5rem;
  --subtitle2-letter-spacing: normal;
  --subtitle2-color: var(--light-text-high-emphasis);

  --subtitle3-font-family: var(--font-medium);
  --subtitle3-font-size: 0.8125rem;
  --subtitle3-font-weight: 500;
  --subtitle3-font-stretch: normal;
  --subtitle3-font-style: normal;
  --subtitle3-line-height: 1rem;
  --subtitle3-letter-spacing: normal;
  --subtitle3-color: var(--light-text-high-emphasis);

  --subtitle3-small-font-family: var(--font-medium);
  --subtitle3-small-font-size: 0.75rem;
  --subtitle3-small-font-weight: 500;
  --subtitle3-small-font-stretch: normal;
  --subtitle3-small-font-style: normal;
  --subtitle3-small-line-height: 1rem;
  --subtitle3-small-letter-spacing: normal;
  --subtitle3-small-color: var(--light-text-medium-emphasis);

  --body1-font-family: var(--font-regular);
  --body1-font-size: 1rem;
  --body1-font-weight: 500;
  --body1-font-stretch: normal;
  --body1-font-style: normal;
  --body1-line-height: 1.5rem;
  --body1-letter-spacing: normal;
  --body1-color: var(--light-text-high-emphasis);

  --body1-medium-font-family: var(--font-regular);
  --body1-medium-font-size: 1rem;
  --body1-medium-font-weight: 500;
  --body1-medium-font-stretch: normal;
  --body1-medium-font-style: normal;
  --body1-medium-line-height: 1.5rem;
  --body1-medium-letter-spacing: normal;
  --body1-medium-color: var(--light-text-medium-emphasis);

  --body2-font-family: var(--font-regular);
  --body2-font-size: 0.875rem;
  --body2-font-weight: 500;
  --body2-font-stretch: normal;
  --body2-font-style: normal;
  --body2-line-height: 1.5rem;
  --body2-letter-spacing: normal;
  --body2-color: var(--light-text-high-emphasis);

  --body2-primary-font-family: var(--font-regular);
  --body2-primary-font-size: 0.875rem;
  --body2-primary-font-weight: normal;
  --body2-primary-font-stretch: normal;
  --body2-primary-font-style: normal;
  --body2-primary-line-height: 1.5rem;
  --body2-primary-letter-spacing: normal;
  --body2-primary-color: var(--color-primary-800);

  --body2-medium-font-family: var(--font-regular);
  --body2-medium-font-size: 0.875rem;
  --body2-medium-font-weight: 500;
  --body2-medium-font-stretch: normal;
  --body2-medium-font-style: normal;
  --body2-medium-line-height: 1.5rem;
  --body2-medium-letter-spacing: normal;
  --body2-medium-color: var(--light-text-medium-emphasis);

  --body2-white-font-family: var(--font-regular);
  --body2-white-font-size: 0.875rem;
  --body2-white-font-weight: 500;
  --body2-white-font-stretch: normal;
  --body2-white-font-style: normal;
  --body2-white-line-height: 1.5rem;
  --body2-white-letter-spacing: normal;
  --body2-white-color: var(--color-white);

  --body3-font-family: var(--font-regular);
  --body3-font-size: 0.75rem;
  --body3-font-weight: 500;
  --body3-font-stretch: normal;
  --body3-font-style: normal;
  --body3-line-height: 1rem;
  --body3-letter-spacing: normal;
  --body3-color: var(--light-text-high-emphasis);

  --body3-medium-font-family: var(--font-regular);
  --body3-medium-font-size: 0.8125rem;
  --body3-medium-font-weight: 500;
  --body3-medium-font-stretch: normal;
  --body3-medium-font-style: normal;
  --body3-medium-line-height: 1rem;
  --body3-medium-letter-spacing: normal;
  --body3-medium-color: var(--light-text-medium-emphasis);

  --body3-small-font-family: var(--font-regular);
  --body3-small-font-size: 0.75rem;
  --body3-small-font-weight: 500;
  --body3-small-font-stretch: normal;
  --body3-small-font-style: normal;
  --body3-small-line-height: 1rem;
  --body3-small-letter-spacing: normal;
  --body3-small-color: var(--light-text-medium-emphasis);

  --caption-caps-font-family: var(--font-medium);
  --caption-caps-font-size: 0.75rem;
  --caption-caps-font-weight: 500;
  --caption-caps-font-stretch: normal;
  --caption-caps-font-style: normal;
  --caption-caps-line-height: 1.5rem;
  --caption-caps-letter-spacing: normal;
  --caption-caps-color: var(--light-text-medium-emphasis);

  --light-badge-font-family: var(--font-light);
  --light-badge-font-size: 0.625rem;
  --light-badge-font-weight: 600;
  --light-badge-font-stretch: normal;
  --light-badge-font-style: normal;
  --light-badge-line-height: 1.6;
  --light-badge-letter-spacing: normal;
  --light-badge-color: var(--color-white);

  //Component variables
  --dropdown-box-shadow: 0 1px 0.125rem 1px rgba(0, 0, 0, 0.15);
  --dropdown-item-hover: rgba(0, 0, 0, 0.04);
  --dropdown-item-pressed: rgba(0, 0, 0, 0.1);
  --ccp-background-color: #f2f2f2;
  --ccp-shadow: 0 0.75rem 1.063rem 0 rgba(0, 0, 0, 0.1);

  --table-header-background: rgba(0, 0, 0, 0.04);
  --table-header-color: rgba(0, 0, 0, 0.45);

  --tooltip-box-shadow: 0px 0.1875rem 0.6rem 0.125rem rgba(0, 0, 0, 0.15);
  --tooltip-arrow-shadow: -0.125rem -0.25rem 0.4375rem 0px rgba(0, 0, 0, 0.08);

  --modal-shadow: 0 0.25rem 0.875rem 0.25rem rgba(0, 0, 0, 0.3);

  --icon-stroke-high-emphasis: rgba(0, 0, 0, 0.87);

  --header-inactive-item-icon: rgba(54, 54, 54, 0.38);
  --header-active-item-icon: rgba(0, 0, 0, 0.5);

  --navigation-inactive-item-icon: rgba(54, 54, 54, 0.6);
  --navigation-active-item-icon: rgba(0, 0, 0, 0.5);

  --status-bar-inactive-item-icon: rgba(0, 0, 0, 0.3);

  --list-inactive-icon: rgba(0, 0, 0, 0.87);
  --list-active-icon: rgba(0, 0, 0, 0.5);

  --arrow-active-icon: rgba(0, 0, 0, 0.5);

  --edit-icon: rgba(0, 0, 0, 0.6);
  --filter-icon: rgba(0, 0, 0, 0.6);
  --add-icon: rgba(0, 0, 0, 0.5);
  --search-icon: rgba(0, 0, 0, 0.5);
  --channel-icon: rgba(0, 0, 0, 0.2);
  --ccp-bottom-bar-icon: rgba(0, 0, 0, 0.6);
  --grayed-out: rgba(0, 0, 0, 0.6);
  --default-toolbar-icon: rgba(0, 0, 0, 0.5);
  --rgba-color-03: rgba(0, 0, 0, 0.3);
  --rgba-color-038: rgba(0, 0, 0, 0.38);
  --rgba-color-05: rgba(0, 0, 0, 0.5);
  --profile-dropdown-shadow: 0 0.25rem 0.125rem 0 rgba(0, 0, 0, 0.15);
  --ccp-header-color: #4a4a4a;

  --input-focus-background-color: #f4fcf8;
  --select-box-shadow: 0 0.25rem 0.125rem 0 rgba(0, 0, 0, 0.15);
  --external-access-background: rgba(0, 0, 0, 0.04);
  --appointment-list-item-background: rgba(0, 0, 0, 0.04);
  --appointment-warning-message-background: rgba(0, 0, 0, 0.04);
  --search-input-field-icon-color: rgba(0, 0, 0, 0.3);
  --note-context-created-by-color: rgba(0, 0, 0, 0.45);

  --dashboard-background: rgba(0, 0, 0, 0.02);
  --dashboard-tickets-by-channel-row: var(--chart-color-2);
  --dashboard-tickets-by-channel-row-bg: rgb(0, 0, 0, 0.07);
  --dashboard-volume-chart-axis-label-color: rgba(0, 0, 0, 0.45);
  --dashboard-volume-chart-axis-label-fontFamily: "PoppinsRegular";
  --dashboard-volume-chart-axis-label-fontSize: 12;
  --dashboard-dropdown-arrows: rgb(0, 0, 0, 0.5);
  --wallboard-agent-table-item-background: rgba(0, 0, 0, 0.04);
  --wallboard-agent-table-item-call-background: #00cc88;
  --wallboard-agent-table-item-chat-background: #2d9ffb;
  --wallboard-realtime-status-summary-call-background: #00cc88;
  --wallboard-realtime-status-summary-chat-background: #2d9ffb;
  --loading-icon-fill: rgba(0, 0, 0, 0.12);

  --company-avatar-icon: rgba(255, 255, 255, 0.8);
  --contact-light-stroke-12: rgba(0, 0, 0, 0.12);
  --contact-accent-color: var(--color-primary-800);
  --contact-second-color: rgba(0, 0, 0, 0.38);
  --contact-list-color-inverted: rgba(255, 255, 255, 0.87);
  --contact-tickets-bold-color: rgba(0, 0, 0, 0.45);
  --contact-phone-type-fontFamily: "PoppinsRegular";
  --contact-phone-type-fontSize: 0.8125rem;
  --contact-phone-type-color: rgba(0, 0, 0, 0.87);
  --contact-dropdown-arrows: rgb(0, 0, 0, 0.5);

  --snackbar-button-border: rgba(255, 255, 255, 0.3);
  --snackbar-button-shadow: 0 0.25rem 0.125rem 0 rgba(0, 0, 0, 0.15);
  --snackbar-message-shadow: 0 3px 3px 0px rgb(0 0 0 / 0.5);
  --snackbar-icon-success-color: #00cc88;

  --datetime-picker-label-color: var(--color-primary-800);

  --button-primary-big-padding: 0 2rem;
  --button-primary-big-font-size: var(--subtitle2-font-size);
  --button-primary-big-font-family: var(--subtitle2-font-family);
  --button-primary-medium-padding: 0 1.5rem;
  --button-primary-medium-font-size: var(--subtitle2-font-size);

  --button-secondary-big-padding: 0 2rem;
  --button-secondary-big-font-size: var(--subtitle3-font-size);

  --button-secondary-small-padding: 0 1.25rem;
  --button-secondary-small-font-size: var(--subtitle3-font-size);
  --button-secondary-border-color: var(--light-divider-12);

  --highlight-text-background-color: #abeed6;

  --button-secondary-medium-padding: 0 1.5rem;
  --button-secondary-medium-font-size: var(--subtitle2-font-size);

  --loading-button-background: var(--light-divider-7);

  --badge-default-color: rgba(0, 0, 0, 0.6);
  --badge-danger-color: var(--color-red);
  --badge-text-color: var(--color-white);
  --badge-font-size: 0.625rem;


  --svg-Icon-default-disabled-color: rgba(0, 0, 0, 0.25);

  --message-ticket-table-row-selected-color: rgba(0, 173, 88, 0.04);
  --message-outgoing-background-color: rgba(170, 223, 188, 0.55);
  --ticket-patient-name-background: rgba(0,0,0, 0.04);

  --pagination-active-item: rgba(0, 0, 0, 0.5);
  --pagination-inactive-item: rgba(0, 0, 0, 0.38);

  --ccp-script-bgcolor: #e9f6f8;
  --ccp-script-hover-bgcolor: #c8eaef;

  --text-area-disabled-color: var(--color-secondary-200);
  ::-webkit-scrollbar {
    width: 0.3125rem;
  }

  ::-webkit-scrollbar-track {
    border-radius: 0.3125rem;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-secondary-300);
    border-radius: 0.625rem;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-secondary-400);
  }

  .link {
    color: var(--color-primary-800);
  }

  .link:hover {
    color: var(--color-primary-400);
  }
}

.text-success {
  color: var(--color-primary-900) !important;
}

.text-danger {
  color: var(--color-red) !important;
}

.text-disabled {
  color: var(--light-text-disabled) !important;
}

.item-flex-end {
  align-items: flex-end;
}

.item-flex-start {
  align-items: flex-start;
}

textarea:focus,
input:focus,
select:focus {
  outline: none;
}
