.green {
    --color-bg-primary: #b7dfb8;
    --color-text-primary: #000;
    --color-text-secondary: #fff;

    --font-regular: 'RobotoRegular';
    --font-medium: 'RobotoMedium';
    --font-bold: 'RobotoBold';
}
