.light {
    --color-bg-primary: #fff;
    --color-text-primary: #3f3b3b;
    --color-text-secondary: #959393;
    --dark-gray: #3f3b3b;
    --off-white: #f5f5f5;
    --blue: #006eff;
    --medium-grey: #959393;
    --light-gray: #eaeaea;

    --font-regular: 'Roboto';
    --font-medium: 'RobotoMedium';
    --font-bold: 'RobotoBold';
}
