.horizontal-statistic-widget-row {
  background-color: var(--badge-blue-color);
}

.horizontal-statistic-widget-row-bg {
  background-color: var(--dashboard-tickets-by-channel-row-bg);
}

.horizontal-statistic-widget-wrapper {
  height: 29.5rem;
}
