.calendar {
  width: 23rem;
  min-height: 24rem;
  box-shadow: 0 0.03125rem 0.625rem rgba(96, 97, 112, 0.16);
  background-color: var(--color-bg-primary);
  .highlight {
    &-today:not(.disabled) {
      border: 0.0625rem solid var(--color-blue);
    }
    &-selected:not(.disabled) {
      background: var(--color-primary-500);
      color: var(--color-white);
    }
  }
  .disabled {
    color: var(--light-text-disabled);
  }
  .arrow-disabled {
    fill: var(--light-text-disabled);
  }
  &-day {
    &-container {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 100%;
      &:hover:not(.highlight-selected):not(.disabled) {
        cursor: pointer;
        background: var(--color-secondary-200);
      }
    }
  }
}

@media screen and (max-width: 80rem) {
  .calendar {
    width: 16rem;
    min-height: 16.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.06);
    background-color: var(--color-bg-primary);
    &-day {
      &-container {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}