.helio-responsive-tick {
  font-size: var(--dashboard-volume-chart-axis-label-fontSize);
  font-family: var(--dashboard-volume-chart-axis-label-fontFamily);
  fill:var(--dashboard-volume-chart-axis-label-color);
}
