.color-wrapper {
    padding: 0.313rem;
    background: #fff;
    border-radius: 0.063rem;
    box-shadow: 0 0 0 0.063rem rgba(0, 0, 0, .1);
    cursor: pointer;
}

.color {
    cursor: pointer;
    width: 13rem;
    height: 1.25rem;
    border-radius: 0.125rem;
}

.popover {
    position: absolute;
    z-index: 2;
}

.cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}