.bottom-divider{
    border-bottom: 1px solid var(--light-divider-12);
}
.business-hours {
  width: calc(100% - 16.5rem);

  .more-less-text {
    max-width: 58.5rem;
  }
}
.business-hours-add {
  width: 29rem;

  .day-select {
    width: 19rem;
  }
  .time-select {
    width: 8.5rem;
  }
}
.holiday-table-name {
  width: calc(100% - 48rem);
  min-width: 15.5rem;
}
.holiday-modal-input {
  width: 19rem;
}
.holiday-date-select {
  width: 8.5rem;
}