.ticket-department{
  width: calc(100% - 16.5rem);
}

.ticket-department-header{
  padding-bottom: 1.625rem;
}

.ticket-department-table-header{
  margin-left: 1.063rem;
  margin-bottom: 0.625rem;
}

.ticket-department-modal-width {
  width: 29rem;
  height: 18rem;
}

.ticket-department-modal-title {
  padding-top: 1.625rem;
}