.icon-small {
  width: 1rem;
  height: 1rem;
}

.icon-medium {
  width: 1.5rem;
  height: 1.5rem;
}

.icon-medium-18 {
  width: 1.688rem;
  height: 1.688rem;
}

.icon-large {
  width: 2rem;
  height: 2rem;
}

.icon-large-40 {
  width: 2.5rem;
  height: 2.5rem;
}

.icon-x-large {
  width: 3rem;
  height: 3rem;
}

.fill-default {
  fill: var(--light-text-high-emphasis);
}

.stroke-default {
  stroke: var(--icon-stroke-high-emphasis);
  stroke-width: 1;
}

.header-inactive-item-icon {
  fill: var(--header-inactive-item-icon);
}

.header-active-item-icon {
  fill: var(--header-active-item-icon);
}

.navigation-inactive-item-icon {
  fill: var(--navigation-inactive-item-icon);
}

.active-item-icon {
  fill: var(--navigation-active-item-icon);
}

.status-bar-inactive-item-icon {
  fill: var(--status-bar-inactive-item-icon);
}

.edit-icon {
  fill: var(--edit-icon);
}

.search-icon {
  fill: var(--search-icon);
}

.channel-icon-fill {
  fill: var(--channel-icon);
}

.channel-icon-stroke {
  stroke: var(--channel-icon);
}

.rgba-05-fill {
  fill: var(--light-text-medium-emphasis);
}
.rgba-03-fill {
  fill: var(--rgba-color-03);
}

.rgba-038-fill {
  fill: var(--rgba-color-038);
}

.rgba-06-fill {
  fill: var(--rgba-color-06);
}

.rgba-062-fill {
  fill: var(--rgba-color-062);
}

.fill-loading {
  fill: var(--loading-icon-fill);
}

.rgba-025-fill {
  fill: var(--svg-Icon-default-disabled-color);
}

.warning-icon {
  fill: var(--color-yellow);
}

.danger-icon {
  fill: var(--color-red);
}

.success-icon {
  fill: var(--snackbar-icon-success-color);
}

.white-icon {
  fill: var(--color-white);
}

.pagination {
  &-active-icon{
    fill: var(--pagination-active-item);
  }
  &-inactive-icon {
    fill: var(--pagination-inactive-item);
  }
}
