.alert {
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.8125rem 0 rgba(0, 0, 0, 0.15);
}
.alert-error {
  border: 1px solid var(--alert-error-border);
  background-color: var(--alert-error-background);
}
.alert-info {
  border: 1px solid var(--alert-info-border);
  background-color: var(--alert-info-background);
}
