@tailwind base;
@tailwind components;

/* poppins-300 - latin light */
@font-face {
    font-family: 'PoppinsLight';
    font-style: normal;
    font-weight: 300;
    font-display: block;
    src: local(''),
    url('./themes/fonts/poppins/poppins-v15-latin-300.woff2') format('woff2')
}
/* poppins-regular - latin regular */
@font-face {
    font-family: 'PoppinsRegular';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: local(''),
    url('./themes/fonts/poppins/poppins-v15-latin-regular.woff2') format('woff2')
}
/* poppins-500 - latin medium */
@font-face {
    font-family: 'PoppinsMedium';
    font-style: normal;
    font-weight: 500;
    font-display: block;
    src: local(''),
    url('./themes/fonts/poppins/poppins-v15-latin-500.woff2') format('woff2')
}
/* poppins-600 - latin semi bold */
@font-face {
    font-family: 'PoppinsSemiBold';
    font-style: normal;
    font-weight: 600;
    font-display: block;
    src: local(''),
    url('./themes/fonts/poppins/poppins-v15-latin-600.woff2') format('woff2')
}

@tailwind utilities;
@import 'themes/default';
@import 'themes/dark';
@import 'themes/green';
@import 'themes/base/typography';

::-webkit-scrollbar {
    width: 0.3125rem;
}

::-webkit-scrollbar-track {
    border-radius: 0.3125rem;
}

::-webkit-scrollbar-thumb {
    background: var(--color-secondary-400);
    border-radius: 0.625rem;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-secondary-500);
}

body {
    touch-action: pan-y;
}
