@tailwind base;
@tailwind components;

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url(./themes/fonts/roboto/Roboto-Regular-webfont.woff) format('woff');
}

@font-face {
    font-family: 'RobotoMedium';
    src: local('Roboto-Medium'), url(./themes/fonts/roboto/Roboto-Medium-webfont.woff) format('woff');
}

@font-face {
    font-family: 'RobotoBold';
    src: local('Roboto-Bold'), url(./themes/fonts/roboto/Roboto-Bold-webfont.woff) format('woff');
}

@tailwind utilities;
@import 'themes/base/base.scss';
@import 'themes/base/fonts.scss';
@import 'themes/light';
@import 'themes/dark';
@import 'themes/green';

@layer components {
    .btn-primary {
        @apply w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-gray-300 text-base font-medium text-white hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 sm:ml-3 sm:w-auto sm:text-sm;
    }
    .btn-secondary {
        @apply mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm;
    }
}
