.badge-yellow {
  background-color: var(--color-yellow);
}

.badge-gray {
  background-color: var(--light-text-medium-emphasis);
}

.badge-red {
  background-color: var(--color-red);
}

.badge-blue {
  background-color: var(--badge-blue-color);
}

.badge-black {
  background-color: var(--rgba-color-062);
}

.badge-white {
  background-color: var(--color-white);
}

.badge-green {
  background-color: var(--navigation-active-item-icon);
}

.w-fit{
  width: fit-content;
}

.h-fit{
  height: fit-content;
}
