.badge-yellow {
  background-color: var(--color-yellow);
}

.badge-gray {
  background-color: var(--light-text-medium-emphasis);
}

.badge-red {
  background-color: var(--color-red);
}

.w-fit{
  width: fit-content;
}

.h-fit{
  height: fit-content;
}
