.navigation-inactive-icon-color {
  fill: var(--navigation-inactive-item-icon);
}


.navigation-active-icon-color {
  fill: var(--navigation-active-item-icon);
}

.navigation-icon-rect {
  fill: none;
}
