.navigation {
  background-color: var(--color-primary-navigation);
  .items-border-top{
    border-color: var(--navigation-border-color);
  }
  &-inactive-icon-color {
    fill: var(--navigation-inactive-item-icon);
  }

  &-active-icon-color {
    fill: var(--navigation-active-item-icon);
  }

  &-icon-rect {
    fill: none;
  }
}