.contact-avatar-default {
    width: 2.5rem;
    height: 2.5rem;
}
.contact-avatar-icon {
    background-color: var(--light-text-disabled);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
};