.contact-subheader-quick-action-color {
  fill: var(--contact-accent-color);
}
.contact-subheader-quick-action-second-color {
  fill: var(--contact-second-color);
}

.contact-header-quick-action-color {
  fill: var(--search-icon);
  &-starred {
    fill: var(--color-yellow);
  }
}
.contact-header-quick-action-accent-color {
  fill: var(--contact-accent-color);
}

.contact-stroke-color {
  stroke: var(--contact-light-stroke-12);
}
