.big {
  min-width: 6.5rem;
  min-height: 2.5rem;
  border-radius: 1.25rem;
  padding: 0.625rem 1.5rem;
}

.small {
  min-width: 6rem;
  min-height: 2rem;
  border-radius: 1rem;
  padding: 0.475rem 1.3rem;
}

button:disabled,
button[disabled] {
  background-color: var(--light-divider-7);
  color: var(--light-text-disabled);
}