.ccp-main {
  position: absolute;
  padding: 0;
  height: 32.5rem;
}
.ccp-title {
  cursor: move;
}
.ccp-bottom-bar {
  background-color: var(--color-white);
}
.ccp-context {
  width: 40rem;
  .ccp-header {
    background-color: var(--color-secondary-800);
    height: 2.74rem;
  }
  .ccp-footer {
    height: 2.76rem;
  }
}
